biopython
click
dataclassy
kneed
librosa
matplotlib
numba
numpy
pyyaml
requests
rich
rich-click
scikit-learn
seaborn
tqdm
pysoundfile
kaldi=*=*cpu*
sox
ffmpeg
scipy
pynini
openfst
hdbscan
baumwelch
praatio=6.0.0
biopython=1.79
sqlalchemy>=2.0
pgvector
pgvector-python
postgresql
psycopg2
click
pytorch
torchaudio
setuptools_scm
pytest
pytest-mypy
pytest-cov
pytest-timeout
mock
coverage
coveralls
interrogate
pip